
.calendar-container{
    display: flex;
    justify-content: center;
}

.calendar{
    display: flex;
    justify-content: center;
    width: 80%;
    border: 2px solid black;
    height: 600px;
    border-radius: 10px;
}

.calendar-items{
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 15px;
}

.calendar-item{
    flex: 1;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
}